/*font link*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Oswald:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&family=Smokum&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*common css*/
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --heading-color: #0B0223;
  --font-color: #534C64;
}

.primary-btn {
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 0.75rem 1.25rem;
}

/*nav part css start*/
.nav-part-container {
  max-width: 100%;
}

.nav-part {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 5rem;
  height: 2.50rem;
  padding-right: 0.50rem;
}

.nav-logo .logo {
  font-size: 2.50rem;
  color: var(--heading-color);
  font-weight: 700;
}

.nav-logo span {
  color: #FF42A5;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 500;
  padding-right: 1.50rem;
}

.navbar .dev-nav {
  padding: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}

.navbar .dev-nav .fa-youtube {
  color: #F61C0D;
}

/*nav part css end*/
/*play part css start*/
.play-part-container {
  width: 100%;
}

.play-part {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.play-title {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.play-heading {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.play-paragraph {
  color: var(--font-color);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
  margin: 5px 0;
  padding-bottom: 0.70rem;

}

.play-image img {
  width: 600px;
  height: 446px;
}

.play-btn {
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: #4EC5F7;
  padding: 0.70rem 1.25rem;
}

/*play part css end*/
/*gamer part css start*/
.gamer-part-container {
  width: 100%;
}

.gamer-part {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.gamer-con {
  text-align: right;
}

.gamer-image img {
  width: 650px;
}

.gamer-title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.gamer-disc {
  color: var(--font-color);
  font-size: 1rem;
  line-height: 30px;
}

.gamer-footer-1 {
  color: var(--font-color);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding-top: 0.70rem;
}

.gamer-footer-2 {
  color:var(--font-color);
  font-size: 1.50rem;
  font-weight: 700;
  margin: 0;
}

/*gamer part css end*/

/*responsive css*/
@media screen and (max-width: 576px) {
  .nav-part {
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }

  .navbar ul li {
    display: block;
    padding-bottom: 10px;
  }

  .play-image img {
    width: 280px;
    height: 280px;
  }

  .play-part {
    flex-direction: column-reverse;
  }

  .play-title {
    font-size: 2rem;
  }

  .play-heading {
    font-size: 4rem;
  }
  .gamer-part{
    flex-direction: column;
  }
  .gamer-image img{
    width: 250px;
  }
  .gamer-con{
    text-align: center;
  }
}

/*for medium size*/
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-part, .gamer-part {
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }

  .play-part {
    flex-direction: column-reverse;
    text-align: center;
  }

  .play-image img {
    width: 500px;
    height: 500px;
  }
  .gamer-con{
    text-align: center;
  }
}